.shipping, .privacy-policy, .terms-and-conditions {
    display: block;
    width: 70%;
    min-height: 900px;
    animation: anim-opacity-full 480ms ease-out;
}

@keyframes anim-opacity-full {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

.shipping-col, .privacy-policy-col, .terms-and-conditions-col {
    margin-top: 100px;
}

.shipping-content, .privacy-policy-content, .terms-and-conditions-content {
    justify-content: flex-start;
    padding: 0px 50px;
}

.shipping-content p, .privacy-policy-content p, .terms-and-conditions-content p {
    font-family: 'Gill Sans Nova', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .05em;
    line-height: 1.9em;
    text-transform: none;
    color: #333;
}

h1 {
    color: #333;
    font-family: 'Gill Sans Nova', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .25em;
    line-height: .5em;
    text-transform: none;
    margin-top: 100px;
}

p strong {
    font-weight: bold;
}

strong a, p a {
  text-decoration-color: rgb(159, 158, 158);
  color: #000;
}

strong a:hover, p a:hover {
  color: rgb(114, 112, 112);
}

.jobs-img-container {
    width: 100%;
    min-height: 260px;
    margin-top: 120px;
    background: url(../../home/footer-links/img/jobs-upper-img.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    animation: anim-opacity-full 480ms ease-out;
}

@keyframes anim-opacity-full {
  0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.jobs-container {
  width: 100%;
  min-height: 700px;
  animation: anim-opacity-full 480ms ease-out;
}

@keyframes anim-opacity-full {
  0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

.our-values {
  color: #333;
  font-weight: 500;
  font-style: normal;
  font-size: 23px;
  letter-spacing: .35em;
  line-height: 1.26em;
  text-transform: none;
}

.lower-text-our-values {
  color: rgb(103, 103, 103);
}

.our-values-text {
  color: rgb(8, 0, 0);
font-weight: 500;
font-style: normal;
font-size: 16px;
letter-spacing: 0em;
line-height: 1.26em;
text-transform: none;
}

h5 {
  color: #333;
  font-style: normal;
  font-size: 23px;
  letter-spacing: .35em;
  line-height: 1.26em;
  text-transform: none;
}

.working, .what-you-get {
  padding: 0px 100px;
}

.cards-container {
  width: 100%;
  min-height: 260px;
}

.jobs-card img {
  opacity: 0.4;
}

@media (max-width: 992px) {
  .working, .what-you-get {
    padding: 0px 50px;
  }
}

@media (max-width: 620px) {
    .shipping, .privacy-policy, .terms-and-conditions{
  width: 90%;
    }
  }

  @media (max-width: 444px) {
    .shipping, .privacy-policy, .terms-and-conditions{
  width: 100%;
    }
  }

  @media (max-width: 392px) {
    .shipping.title, .privacy-policy.title, .terms-and-conditions {
       display: flex;
    }
     h1 {
        font-size: 20px !important;
}
  }

  @media (max-width: 768px) { 
    .footer-container {
        margin-top: 140px;
    }
    .working, .what-you-get {
      padding: 0px 20px;
    }
}


