*{
    margin: 0;
    padding: 0;
  }

  body {
    font-family: 'Gill Sans Nova', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    letter-spacing: .05em;
    line-height: 1.9em;
    text-transform: none;
    color: #000;
  }
  
  .navbar {
    white-space: normal;
    box-shadow: 0px 2px 10px;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

  .navbar-container {
      display: flex;
      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 50px;
      padding-right: 50px;
      margin-left: 65px;
      margin-right: 65px;     
  }
  
  .navbar-nav {
    line-height: 1em;
    align-items: baseline;
  }

  .nav-link {
    font-weight: bold; 
    color: #000;
    font-size: 12px;
    letter-spacing: .35em;
  }

  .nav-link:is(:link, :active, :visited).active:not(:last-child) {
      color: rgb(249, 242, 243);
      background-color: #0f0e0e
  }

  .nav-link:hover {
    color: #c93939 !important;
  }

.logo {
  display: flex;
  font-size: 10px;
  width: 268px;
}

.custom-cart {
    position: relative;
    white-space: nowrap;
    line-height: 1em;
    fill: #050000;
    stroke: #050000;
    font-size: 28px;
    z-index: 1;
}

.cart-quantity {
    display: inline-block;
    position: absolute;
    z-index: -1;
    width: 28px;
    height: 28px;
    margin-top: -7px;
    margin-left: -23px;
    border-radius: 50%;
    background-color: rgba(94,94,94,.5);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    text-align: right;
    font-size: 13px;
}

.hero {
    margin-top: 80px;
    width: 100%;
    background: url(./img/banner.jpg);
    height: 630px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    top: 35px;
    animation: anim-opacity-full 480ms ease-out;
}

@keyframes anim-opacity-full {
    0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
}

.row-banner-text .row-banner-img {
    display: flex;
    width: 1000px;
    height: 300px; 
    position: relative; 
}

.banner-text {
    width: 90%;
    height: 300px;
    color: #080808;
    font-size: 15px;
    letter-spacing: 8px;
    line-height: 1.9em;
    text-transform: none;
    position: absolute;
    bottom: 260px;
    left: 250px;
}

.banner-text h1 {
    font-size: 50px;
    color: #080808;
}

.row-banner-img {
    height: 300px;
}

.banner-img {
    position: absolute;
    bottom: 80px;
    left: 1000px;
}

.hero-img {
    opacity: 0.8;
}

.middle-page-container {
    width: 100%;
    height: 350px;
}

#row-middle-page {
    width: 100%;
}

.col-middle-page {
    width: 100%;
    flex-direction: column;
    justify-content: center;
}

.middle-page-buttons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px;
    border: none;
}

.middle-page-buttons button {
    font-size: 13px;
    letter-spacing: 8px;
    line-height: 1.9em;
    text-transform: none;
    padding: 21px 34px;
    background-color: #000;
}

.middle-page-buttons:hover {
    color: #b4b4b4 !important;
}

.navigation-buttons{
    width: 60%;
    width: 100%;
    justify-content: space-evenly;
    padding: 20px 0px;
    border: none;
}

.row-navigation-buttons button {
    font-size: 13px;
    background-color: #000;
    letter-spacing: 8px;
    line-height: 1.9em;
    text-transform: none;
    padding: 15px 20px;
}

.line {
   box-sizing: border-box;
   width: 65.8265%;
   height: 1px;
   margin: 20px auto;
   color: #000 !important;
   background-color: #000;
}

 .hr{
    height: 1px;
    width: 100%;
    box-sizing: content-box;
}

.contact-container {
    width: 100%;
    height: 470px;
}

.contact-text {
    font-family: 'Gill Sans Nova', sans-serif !important;
    text-align: center;
}

.contact-row {
    width: 100%;
    margin: 20px 50px;
    justify-content: space-between;
}

.contact-text .benefits h2{
    color: rgba(73, 72, 72, 0.9);
    font-size: 20px !important;
    letter-spacing: 8px;
    line-height: 40px;
}

.benefits h2 {
    font-weight: 600;  
}

.benefits-p p, .form-label{
    font-style: normal;
    font-weight: lighter;
    color: rgba(73, 72, 72, 0.8);
    font-size: 15px;
}

.benefits-p {
    line-height: 30px;
}

.form-select {
    background-color: rgba(147, 147, 147, 0.2);
}

option {
    background-color: rgb(36, 33, 33);
    color: #FAFAFA;
}

.subscribe-button button{
    height: 45px;
    border: 1px solid #000;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 1px;
    padding: 1px 6px;
    min-width: fit-content;
    background-color: #FAFAFA;
    color: #333;
}

.subscribe-button button:hover {
    color: #FAFAFA;
    background-color: #000;
}

input[type="text"], select {
    height: 40px;
    padding: 5px;
  }

  .footer-container {
      background-color: #f8f9fa!important;
  }

  .row-footer {
      padding-top: 35px;
  }

  .row-footer span {
      font-weight: bold;
}

  .info a, .social a, .careers a, .contact-us a  {
      font-size: 11px;
      color: #333;
      text-decoration: none;
  }

  .footer-link a:hover {
    color: rgb(138, 135, 135);
    text-decoration: none;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
  } 

  .copyright {
      font-size: 11px;
      color: #757575;
  }

  @media (max-width: 776px) {
    .banner-text h1{
        display: none;
    }
  }

  @media (min-width: 1224px) and (max-width: 1324px) {
    .banner-img {
        left: 950px;
    }
  } 
  
  @media (min-width: 1224px) and (max-width: 1274px) {
    .banner-img {
        left: 900px;
    }
  } 

  @media (min-width: 1172px) and (max-width: 1224px) {
    .banner-img {
        left: 850px;
    }
  } 

  @media (min-width: 1124px) and (max-width: 1172px) {
    .banner-img {
        left: 800px;
    }
  } 

  @media (min-width: 1024px) and (max-width: 1124px) {
    .banner-img {
        left: 700px;
    }
  } 

  @media (min-width: 990px) and (max-width: 1024px) {
    .banner-img {
        left: 600px;
    }
  }

  @media (min-width: 828px) and (max-width: 990px) {
    .banner-img {
        left: 500px;
    }
  }

  @media (min-width: 776px) and (max-width: 828px) {
    .banner-img {
        left: 250px;
    }
  }

@media (max-width: 816px) { 
    .middle-page-buttons{
        flex-direction: column;
        align-items: center;
        height: 300px;   
    }
    .line {
        margin-top: 230px;
    }
}

@media (max-width: 970px) { 
    .footer-container {
        margin-top: 150px;
    }   
}

@media (max-width: 770px) { 
    .footer-container {
        margin-top: 475px;
    }
}

@media (max-width: 706px) { 
    .footer-container {
        margin-top: 550px;
    }
}

@media (max-width: 540px) { 
    .footer-container {
        margin-top: 600px;
    }
}

@media (max-width: 474px) { 
    .footer-container {
        margin-top: 650px;
    }
}

@media (max-width: 972px) { 
    .info, .social {
        margin-bottom: 50px;
    }
}

@media (max-width: 760px) { 
    .careers {
        margin-bottom: 50px;
    }
}